html, body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: auto;
}

.block{
    margin: auto;
    display: flex;   
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: auto;
    padding: 40px;
    background-image: linear-gradient(to bottom right, #9acccc, #c5daff, #b4c2c8);
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 0 40px -5px #ffffff;
}

body{
     display: flex;
     background-color:  rgb(225 241 251);
     justify-content: center;
}

body .title{
    color: rgb(3, 45, 70);
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 30px;
    font-size: 18px;
    border-radius: 0 0 20px 20px;
}

.form{
    width: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.select, #costPrice, #quantity, #bt{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 10px;
   
}

#bt{
    width: 100px;
    align-self: center;
    background-color: rgba(3, 44, 104, 0.815);
    color: aliceblue;
}

img{
    width: 50px;
    height: 50px;
}

.res{
    background-color: aliceblue;
    border: 1px solid aliceblue;
    width: 150px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.res div{
    padding: 10px;
}

.div{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}